@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --dot-color: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-image: radial-gradient(circle, var(--dot-color) 1px, transparent 1px);
  background-size: 24px 24px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
